src/main/mule/idempotentvalidator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cc78ee80-a5d3-455e-90e6-4d298371159e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="121d285e-4489-42a3-b2a4-65f34956fa79" maxEntries="100" entryTtl="5" entryTtlUnit="HOURS" />
	<api-gateway:autodiscovery apiId="16189750" doc:name="API Autodiscovery" doc:id="aaff06a0-6ad1-46a5-8c0c-a08b16e25430" flowRef="idempotentvalidatorFlow" />
	<flow name="idempotentvalidatorFlow" doc:id="ec2f282e-e4a9-41e3-9d01-3d0076f88606" >
		<http:listener doc:name="Listener" doc:id="0f902db4-ae24-4692-8c61-e83af095d253" config-ref="HTTP_Listener_config" path="/idempotentValidator"/>
		<logger level="INFO" doc:name="Logger" doc:id="be7a171a-8e0b-4730-8e44-1d0d3da0876f" message="=========the flow has just begun========"/>
		<idempotent-message-validator doc:name="Idempotent Message Validator" doc:id="28495d05-d576-453c-9928-998d840f369c" idExpression='#[payload.order.orderID ++ payload.order."type" ++ payload.order.customerDetails.customerID]' objectStore="Object_store"/>
		<ee:transform doc:name="Transform Message" doc:id="945d68a7-379b-4452-b0ed-fedfde21ddf0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status"  : "success",
	"message" : "your order successfully placed"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d7fbbc6f-4ba5-41a2-9a0c-0718e38fb680" type="MULE:DUPLICATE_MESSAGE">
				<logger level="INFO" doc:name="Logger" doc:id="ddd86c5a-e532-46da-967e-ee6ad917d720" message='==========we have encountered a duplicate order =========#[correlationId]'/>
				<ee:transform doc:name="Transform Message" doc:id="d5a8c31b-deae-4a43-ac4d-21ae51840a5f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : "ERROR",
	"message" : "Unable to process the duplicate order with following details",
	"order details" :
	{
	  "orderID" : payload.order.orderID,
	  "order Type" : payload.order."type",
	  "customerID" : payload.order.customerDetails.customerID
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
